// Tamaños de Media Queries
$phone: 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// Colors
$strong_cyan: hsl(172, 67%, 45%);
$cyan: #A7F2E4;
$cyan_easy: #0D686D;

$very_dark_cyan: hsl(183, 100%, 15%);
$dark_grayish_cyan_two: hsl(186, 14%, 43%);
$dark_grayish_cyan: hsl(184, 14%, 56%);
$grayish_cyan: hsl(189, 41%, 97%);
$light_grayish_cyan: hsl(185, 41%, 84%);

$white: hsl(0, 0%, 100%);
$blalck: #000000;

// Fonts
$font_main: 'Space Mono', monospace;